<div class="row">
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.administration' | trans }}</a>
		</nav>
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.langues' | trans }}</a>
		</nav>
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.continents' | trans }}</a>
		</nav>
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.pays' | trans }}</a>
		</nav>
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.banques' | trans }}</a>
		</nav>
		
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.ministeres' | trans }}</a>
		</nav>
		<nav>
		<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuAdministration" href="">{{ 'menuAdministration.label.ecoles' | trans }}</a>
		</nav>
		</div>