{% extends "AsoGestionUtilisateurBundle::layout.html.twig" %}
{% block AsoGestionUtilisateurtitle %}
{{ "sendPassword.page.title" | trans }}
{% endblock %}

{% block AsoGestionUtilisateurstylesheets %}
{% stylesheets filter='cssrewrite' 
'@AsoGestionUtilisateurBundle/Resources/public/css/sendPassword.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}


{% block AsoGestionUtilisateurbody %}

<div class="row">
	{% for messages in app.session.flashbag.get('message') %}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id=""
		style="background-color:">
		{{ 'inscription.succes.message' | trans({'%nom%': messages.nom}) }}
	</div>

	{% endfor %}


	{% for invitations in app.session.flashbag.get('invitation') %}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id=""
		style="background-color:">
		{{ 'inscription.succes.invitation' | trans ({'%email%': invitations.email}) }}
	</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" id=""
		style="background-color:">
		<div class="row">
			<h4 id="page_message"
				class="col-xs-12 col-sm-12 col-md-12 col-lg-12  page_message">
				{{ 'sendPassword.page.message' | trans }}
			</h4>
		</div>
		<form action="{{ path('aso_gestion_utilisateur_do_sendPassword') }}"
			method="post">
			<div class="row" id='form-content'>

				<fieldset class="champ_group">
					<label id="label_identifiant"
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ 'sendPassword.label.identifiant' | trans }}</label>
					<div class="div-identifiant" id="">
						<input type="text" name="identifiant" id="ins_identifiant"
							value='{{ app.session.get('con_identifiant') }}'
							placeholder="{{ 'sendPassword.placeholder.identifiant' | trans }}"
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-control" />
						<span id="error_identifiant"
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12 help-block error error_identifiant">{{ 'sendPassword.error.identifiant' | trans }}</span>
					</div>

				</fieldset>
				<fieldset class="champ_group">
					<label id="label_connexion"
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></label>
					<div class="div-connexion" id="">
						<div class="hidden-xs hidden-sm col-md-2 col-lg-2" id=""
							style="background-color:"></div>
						<input type="button" name="connexion" id="ins_connexion"
							placeholder=""
							value="{{ 'sendPassword.placeholder.renvoiPassword' | trans }}"
							class="col-xs-12 col-sm-12 col-md-8 col-lg-8" /> <span
							id="error_connexion"
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12 help-block error error_connexion"></span>
					</div>
				</fieldset>
				<fieldset class="champ_group">
					<a id="alt_connexion"
						href='{{ path('aso_gestion_utilisateur_connexion') }}'
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">{{ 'sendPassword.alt.connexion' | trans }}</a>

				</fieldset>

				<fieldset class="champ_group">
					<label id="label_" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></label>
					<div class="div-" id="">
						<input type="text" name="" id="ins_" placeholder=""
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-control" />
						<span id="error_"
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12 help-block error error_"></span>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block AsoGestionUtilisateurjavascripts %}
{% javascripts '@AsoGestionUtilisateurBundle/Resources/public/js/sendPassword.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
